    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel light-blue lighten-3">
          <h4>About Us</h4>    
          <p class=" flow-text" style="font-size:1.3rem">It gives an immense pleasure to introduce ourselves as one of the leading manufacturer and marketing of Pharmaceutical products across all india, having over 15 years of experience in manufacturing and marketing of Pharmaceutical products complying with laid down GMP norms.
          
           
We have all India marketing network with good presence in Andhra Pradesh, Telangana, Kerala, Tamilnadu, West Bengal, Orrisa, Assam, Meghalaya etc.,
<br/><br/>              
It is with a sense of pride we wish to inform you that M/s United Labs is one of the empanelled and listed supplier of pharma products to Andhra Pradesh, Telangana and Karnataka states. To our credit, we have supplied Medical Kits to then United Andhra Pradesh under various Govt., schemes for the benefit of students and working class personnel. We are pleased to mention that we have received good appreciation from all concerned personnel for supplying quality Medical Kits. The same has been reported in Leading news papaers.
<br/><br/>              
If given an opportunity we shall prove ourselves by supplying quality products as per the agreed time lines.
<br/><br/>              
We look forward to hear favourable reply from your esteemed organization.
</p>              
<p class=" flow-text" style="font-size:1.3rem; font-weight:bold">              
Thanking you,<br/>
Yours faithfully,<br/>
For M/s United Labs,<br/>
<span style="font-family: 'Lobster', cursive; font-size:1.5rem">MVR Prasad Reddy,</span><br/>
Director.<br/>

          </p>
        </div>
      </div>
    </div>