    <script>

        $( document ).ready(function(){
            //$(".button-collapse").sideNav();
            $(".parallax").parallax();
            //$('.slider').slider({full_width: true});
        });

    </script>


        <div>
            
            <div class="parallax-container" style="height:500px">
              <div class="caption center-align">
                    <h3 class="homepagefont light-blue accent-3" style="opacity:0.8">Conquer to serve better Molecules</h3>
                    <!--<h5 class="light grey-text">Here's our small slogan.</h5>-->
              </div>    
              <div class="parallax"><img ng-src="images/labratory.jpg"   style="opacity: 0.8">

                </div>      
            </div>
            
            

            
            <div class="parallax-container" style="height:500px">
              <div class="caption left-align">
                    <h3 class="homepagefont blue-grey lighten-3" style="opacity:0.8">Innovating for healthier lives</h3>
                    <!--<h5 class="light grey-text">Here's our small slogan.</h5>-->
              </div>                
              <div class="parallax"><img ng-src="images/innovation.jpg"  style="opacity: 0.8">

                </div>      
            </div>
            
            <div class="parallax-container" style="height:500px">
                <div class="caption right-align">
                    <h3 class="homepagefont teal accent-4" style="opacity:0.8">Visionary action for the health</h3>
                    <!--<h5 class="light grey-text">Here's our small slogan.</h5>-->
                </div>                 
              <div class="parallax"><img ng-src="images/vision.jpeg" style="opacity: 0.8">
 
              </div>
            </div>
        </div>     

